<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrWau-9DZWePS96AOXHZafnNxgmZqkS6w</string>
	<key>GCM_SENDER_ID</key>
	<string>957255439034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kutuphaneOtomasyonu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kutuphane-otomasyonu-9a769</string>
	<key>STORAGE_BUCKET</key>
	<string>kutuphane-otomasyonu-9a769.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957255439034:ios:544fea2f46af26dff2e883</string>
</dict>
</plist>